.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/

Private
Templates
Reading
Courses
content/Excalidraw/*.md
Config/
Zotero/
.pandoc/
.stfolder/
