@use "./base.scss";
@use "./variables.scss" as *;

.page-title>a{
    // color: #7a7aff;
    text-decoration: none !important;
}


.TikzSvg{
    display: block;
    margin: auto;
}

.TikzSvg + .TikzSvg{
    margin-top: 1em;
}

.TikzSvg{
    path{
        stroke: var(--darkgray);
    }
}

.proofEnvStart{
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    margin-right: 0.5em;
}

.proofEnvEnd{
    float: right;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
}


@media (max-width: $fullPageWidth) {
    .sidebar.right {
        display: none !important;
    }
}


:root[saved-theme="dark"]{
  .theme-responsive{
    filter: invert(1);
  }
}